body {
    font-family: Verdana;
  }
  
  em {
    color: gray;
  }
  
  h2 {
    color:rgb(143, 143, 223);
  }

  #titulo {
    background-color: orange;
  }
  
  .subtitulo {
    color: rgb(70, 70, 202);
     font-weight: bold;
  }

  .enumeracion {
    margin-left: 35px;
  }